<%= form_for @micropost do |f| %>
  <%= render "layouts/shared/error_messages", object: f.object %>
    <%= f.hidden_field :picture_cache %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("placeholder_content_post") %>
  </div>
  <%= f.submit t("btn_post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.accept_img_types %>
  </span>
<% end %>
